<div class="container">
    <app-todo-detail [todo]="selectedTodo" *ngIf="this.ts.showTodoDialog"></app-todo-detail>
    <app-todo-update [todo]="selectedTodo" *ngIf="this.ts.showUpdateDialog"></app-todo-update>
    <app-todo-template-driven-form *ngIf="this.ts.showAddDialog"></app-todo-template-driven-form>
    
    <div *ngFor="let todo of todos" class="todo" appTodo [ngStyle]="{'border': todo | todo}">
    {{todo.title}}
    <div>
        <fa-icon [icon]="faList" (click)="selectTodo(todo)"></fa-icon>
        <fa-icon [icon]="faPenToSquare" (click)="ts.showUpdateDialog=true;selectTodo(todo)"></fa-icon>
        <fa-icon [icon]="faTrash" (click)="delete_todo(todo)"></fa-icon>
      
    </div>
</div>
</div>
